<header>
    <div class="logo">
        <a href="/" class="logo-text">Kahoot!</a> 
    </div>
    <nav>
        <a href="/login" style="text-decoration: none;"><button class="nav-btn primary"><i class="fas fa-play"></i> Join a Game</button></a>
        <a href="/login" style="text-decoration: none;"><button class="nav-btn secondary"><i class="fas fa-plus-square"></i> Create a Game</button></a>
        <a href="/login" style="text-decoration: none;"><button class="nav-btn login"><i class="fas fa-sign-in-alt"></i> Login</button></a>
        <a href="/register" style="text-decoration: none;"><button class="nav-btn register"><i class="fas fa-user-plus"></i> Register</button></a>
    </nav>
</header>